---
import NavLink from './NavLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import siteConfig from '../data/site-config';

const navLinks = siteConfig.headerNavLinks || [];
---

<script>
    function menuToggle() {
        const open = document.querySelector('#open-burger') as HTMLElement;
        const close = document.querySelector('#close-burger') as HTMLElement;
        const menu = document.querySelector('.menu');
        const menuToggleBtn = document.querySelector('.menu-toggle');
        menuToggleBtn?.addEventListener('click', () => {
            const isMenuExpanded = menuToggleBtn.getAttribute('aria-expanded') === 'true';
            if (isMenuExpanded) {
                close.classList.toggle('hidden');
                open.classList.remove('hidden');
            } else {
                open.classList.toggle('hidden');
                close.classList.remove('hidden');
            }
            console.log('burgor', {
                isMenuExpanded,
                open: open.classList,
                close: close.classList
            });
            menuToggleBtn.classList.toggle('is-active');
            menuToggleBtn.setAttribute('aria-expanded', isMenuExpanded ? 'false' : 'true');
            menuToggleBtn.setAttribute('aria-label', isMenuExpanded ? 'Open Menu' : 'Close Menu');
            menu?.classList.toggle('is-visible');
        });
    }
    menuToggle();
    document.addEventListener('astro:after-swap', menuToggle);
</script>
<nav class="min-h-10 pt-4 pb-12 relative sm:min-h-14 sm:pb-24 md:pt-8">
    {
        navLinks.length > 0 && (
            <div class="w-full max-w-3xl mx-auto relative">
                <button
                    class="menu-toggle w-8 h-8 -ml-1 flex items-center justify-center relative z-30 md:hidden"
                    aria-label="Open Menu"
                    aria-expanded="false"
                    aria-controls="menu-items"
                >
                    <svg id="close-burger" class="hidden" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 48 48">
                        <>
                            <path fill="#45413c" d="M3.54 44.34a20.46 1.66 0 1 0 40.92 0a20.46 1.66 0 1 0-40.92 0" opacity="0.15" />
                            <path fill="#debb7e" d="M43.35 31.34v5c0 4-8.66 7.19-19.35 7.19S4.65 40.28 4.65 36.31v-5Z" />
                            <path fill="#b89558" d="M4.65 33.55c0 4 8.66 7.19 19.35 7.19s19.35-3.22 19.35-7.19v-2.21H4.65Z" />
                            <path
                                fill="none"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M43.35 31.34v5c0 4-8.66 7.19-19.35 7.19S4.65 40.28 4.65 36.31v-5Z"
                            />
                            <path
                                fill="#bf8256"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M24 38c23.84 0 23.22-7.74 20.46-12.16c-2.77-3.9-9.16-7.22-20.46-7.22S6.31 21.94 3.54 25.81C.78 30.23.16 38 24 38"
                            />
                            <path
                                fill="#6dd627"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M43.35 23.6s3.32 1.1 3.32 4.42s-4.43.55-6.08 1.66s-.42 3.64-2.77 4.42c-3.32 1.11-5-2.09-7.19-1.66C27.87 33 29 35.76 24 35.76s-3.87-2.76-6.63-3.32c-2.17-.44-3.87 2.77-7.19 1.66c-2.35-.78-1.11-3.32-2.77-4.42S1.33 31.34 1.33 28s3.32-4.4 3.32-4.4Z"
                            />
                            <path
                                fill="#ff6242"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6.86 25.81s-1.84 3.82 2.21 5c3.87 1.11 7.74-2.21 11.06-2.21s6.42 4.89 10.5 3.87c4.43-1.1 2.22-3.31 5-4.42s12.16 2.76 6.63-3.87Z"
                            />
                            <path
                                fill="#ffe500"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M25.11 29.13h-9.4v2.76a2.21 2.21 0 0 0 2.21 2.21H19v2.49a1.94 1.94 0 0 0 3.87 0v-4.15a2.21 2.21 0 0 0 2.22-2.21Z"
                            />
                            <path fill="#f0d5a8" d="M43.35 23c0 4-8.66 7.19-19.35 7.19S4.65 27 4.65 23c0 0 1.11-12.71 19.35-12.71S43.35 23 43.35 23" />
                            <path
                                fill="#debb7e"
                                d="M24 26.36c-9.13 0-16.79-2.35-18.82-5.51A10.37 10.37 0 0 0 4.65 23c0 4 8.66 7.19 19.35 7.19S43.35 27 43.35 23a10.37 10.37 0 0 0-.53-2.19C40.79 24 33.13 26.36 24 26.36"
                            />
                            <path
                                fill="none"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M43.35 23c0 4-8.66 7.19-19.35 7.19S4.65 27 4.65 23c0 0 1.11-12.71 19.35-12.71S43.35 23 43.35 23"
                            />
                            <path
                                fill="#debb7e"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12.66 16.18a1.11 1.11 0 0 0-.78 1.36a1.09 1.09 0 0 0 1.35.78L14.3 18a1.1 1.1 0 1 0-.58-2.13Zm6.46 2.99a1.11 1.11 0 1 0 2 .92l.45-1a1.09 1.09 0 0 0-.54-1.46a1.11 1.11 0 0 0-1.47.54Zm16.22-2.99a1.11 1.11 0 0 1 .78 1.36a1.09 1.09 0 0 1-1.35.78L33.7 18a1.1 1.1 0 1 1 .58-2.13Zm-6.46 2.99a1.11 1.11 0 0 1-2 .92l-.45-1a1.09 1.09 0 0 1 .57-1.47a1.11 1.11 0 0 1 1.47.54Z"
                            />
                        </>
                    </svg>
                    <svg id="open-burger" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 48 48">
                        <>
                            <path fill="#45413c" d="M3.77 44.36a20.23 1.64 0 1 0 40.46 0a20.23 1.64 0 1 0-40.46 0" opacity="0.15" />
                            <path fill="#debb7e" d="M43.14 31.47v4.92c0 3.93-8.57 7.11-19.14 7.11S4.86 40.32 4.86 36.39v-4.92Z" />
                            <path fill="#b89558" d="M4.86 33.66c0 3.92 8.57 7.11 19.14 7.11s19.14-3.19 19.14-7.11v-2.19H4.86Z" />
                            <path
                                fill="none"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M43.14 31.47v4.92c0 3.93-8.57 7.11-19.14 7.11S4.86 40.32 4.86 36.39v-4.92Z"
                            />
                            <path
                                fill="#bf8256"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M24 38c23.58 0 23-7.65 20.23-12c-2.73-3.82-9.06-7.1-20.23-7.1S6.5 22.18 3.77 26C1 30.38.42 38 24 38"
                            />
                            <path
                                fill="#6dd627"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M43.14 23.82s3.28 1.09 3.28 4.37s-4.38.55-6 1.64s-.41 3.6-2.73 4.38c-3.28 1.09-5-2.07-7.11-1.64c-2.73.54-1.64 3.28-6.56 3.28s-3.83-2.74-6.56-3.28c-2.15-.43-3.83 2.73-7.11 1.64c-2.35-.78-1.11-3.28-2.75-4.38s-6 1.64-6-1.64s3.28-4.37 3.28-4.37Z"
                            />
                            <path
                                fill="#ffe500"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M42.59 27.14h-9.3v3.24a2.19 2.19 0 0 0 2.19 2.19h1.09V35a1.92 1.92 0 0 0 3.83 0v-4.1a2.19 2.19 0 0 0 2.19-2.19Z"
                            />
                            <path
                                fill="#bf8256"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M24 30.38c23.58 0 23-7.66 20.23-12c-2.73-3.86-9.06-7.14-20.23-7.14S6.5 14.52 3.77 18.35C1 22.72.42 30.38 24 30.38"
                            />
                            <path
                                fill="#6dd627"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M43.14 16.16s3.28 1.1 3.28 4.38s-4.38.54-6 1.64s-.41 3.6-2.73 4.37c-3.28 1.09-5-2.07-7.11-1.64c-2.73.55-1.64 3.28-6.56 3.28s-3.83-2.73-6.56-3.28c-2.15-.43-3.83 2.73-7.11 1.64c-2.35-.77-1.11-3.28-2.75-4.37s-6 1.64-6-1.64s3.28-4.38 3.28-4.38Z"
                            />
                            <path
                                fill="#ff6242"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M7.05 18.35s-1.82 3.78 2.19 4.92c3.83 1.09 7.65-2.19 10.93-2.19s6.35 4.84 10.39 3.83c4.37-1.09 2.19-3.28 4.92-4.37s12 2.73 6.56-3.83Z"
                            />
                            <path
                                fill="#ffe500"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M26.73 21.63h-9.29v2.73a2.19 2.19 0 0 0 2.19 2.19h1.09V29a1.92 1.92 0 1 0 3.83 0v-4.1a2.19 2.19 0 0 0 2.18-2.19Z"
                            />
                            <path fill="#f0d5a8" d="M43.14 15.62c0 3.92-8.57 7.1-19.14 7.1s-19.14-3.18-19.14-7.1C4.86 15.62 6 3 24 3s19.14 12.62 19.14 12.62" />
                            <path
                                fill="#debb7e"
                                d="M24 18.9c-9 0-16.61-2.33-18.61-5.46a10.23 10.23 0 0 0-.53 2.18c0 3.92 8.57 7.1 19.14 7.1s19.14-3.18 19.14-7.1a10.23 10.23 0 0 0-.53-2.18C40.61 16.57 33 18.9 24 18.9"
                            />
                            <path
                                fill="none"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M43.14 15.62c0 3.92-8.57 7.1-19.14 7.1s-19.14-3.18-19.14-7.1C4.86 15.62 6 3 24 3s19.14 12.62 19.14 12.62"
                            />
                            <path
                                fill="#debb7e"
                                stroke="#45413c"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12.78 8.83a1.09 1.09 0 1 0 .57 2.11l1.06-.28a1.09 1.09 0 1 0-.57-2.11Zm6.4 2.96a1.09 1.09 0 0 0 2 .9l.45-1a1.09 1.09 0 0 0-2-.91Zm16.04-2.96a1.09 1.09 0 1 1-.57 2.11l-1.06-.28a1.09 1.09 0 1 1 .57-2.11Zm-6.4 2.96a1.09 1.09 0 0 1-2 .9l-.45-1a1.09 1.09 0 1 1 2-.91Z"
                            />
                        </>
                    </svg>
                </button>
                <ul id="menu-items" class="menu flex gap-6">
                    {navLinks.map((link) => (
                        <li class="py-1 space-x-4">
                            <NavLink class="text-xl font-serif text-main px-1 md:text-base" href={link.href}>
                                {link.text}
                            </NavLink>
                        </li>
                    ))}
                </ul>
            </div>
        )
    }
    <div class="absolute right-0 top-4 z-10 md:top-8">
        <ThemeToggle />
    </div>
</nav>

<style>
    @media (max-width: 767px) {
        .menu {
            @apply flex-col gap-1 absolute -top-2.5 -left-2.5 max-w-64 px-3 pt-16 pb-10 z-20 bg-main border border-dashed border-main invisible opacity-0;
            width: calc(100% + 1.25rem);
        }
        .menu.is-visible {
            @apply visible opacity-100;
            transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
        }
        .menu-toggle-icon {
            transition: width 0.1s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
        }
        .menu-toggle.is-active .menu-toggle-icon {
            @apply w-0;
            transition: width 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .menu-toggle-icon:before,
        .menu-toggle-icon:after {
            @apply w-6 h-px absolute left-1/2 top-0 origin-center -translate-x-1/2 bg-current;
            content: '';
            transition:
                transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                margin 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
        }
        .menu-toggle-icon:before {
            @apply -mt-1.5;
        }
        .menu-toggle-icon:after {
            @apply mt-1.5;
        }
        .menu-toggle.is-active .menu-toggle-icon:before,
        .menu-toggle.is-active .menu-toggle-icon:after {
            @apply mt-0;
            transition:
                margin 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s,
                transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
        }
        .menu-toggle.is-active .menu-toggle-icon:before {
            @apply rotate-45;
        }
        .menu-toggle.is-active .menu-toggle-icon:after {
            @apply -rotate-45;
        }
    }
</style>
